* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
	background-color: rgb(48, 48, 48);
    background-image: url("../images/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	margin:0;
    height:100%;
    font-family: "Roboto", sans-serif;
}

#content{
    height:100%;
    font-family: "French-Press", sans-serif;
    font-size: 26px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    align-content: center;
    justify-items: center;
    grid-gap: 25px;
}

#content > * {
    width: 300px;
    background: linear-gradient(70deg, #AE6826, 15%, #DFA74D, 85%, #AE6826);
    border-radius: 5px;
    padding: 8px;
}

#microsoft-button {
    border-width: 0;
    cursor: pointer;
}

#login input[type="text"],
#login input[type="password"]{
	width:100%;
	padding: 5px 2px;
}

#login input[type="submit"] {
    padding: 5px;
    width: 70%;
    height: 25px;
	margin: 10px 15%;
    background-color: white;
    border: 1px solid lightgrey;
    transition: background 0.1s linear, border 0.2s;
    border-radius: 3px;
    cursor: pointer;
}

#login h3 {
    margin-top: 10px;
    margin-bottom: 0;
}