* {
    box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	background-color: black;
	background-image: url("../images/background.jpg");
	background-size: cover;
    background-repeat: no-repeat;
	margin:0;
	height:100%;
	font-family: "Roboto", sans-serif;
	color: black;
}

.dots-3 {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#000 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: d3 1s infinite linear;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes d3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

#fullscreen {
	position: absolute;
	top: 28px;
	width: 100%;
	height: calc(100% - 28px);
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 10;
}

#fullscreen-content {
    position: relative;
	top: 50%;
    transform: translateY(-50%);
	width: 100%;
	background: white;
	max-height: 80vh;
    text-align: center;
    padding: 25px 0;
}