* {
    box-sizing: border-box;
}

html{
	height: 100%;
}

body{
	background: black;
	margin:0;
	height:100%;
	font-family: "Roboto";
	color: black;
}

#content{
	height:100%;
	padding-top:28px;
}

#sidebar{
	position:absolute;
	top: 50px;
	left: 20px;
	background-image: url("../images/svg/chapters_scroll.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 322px;
	height: 398px;
}

#media {
	position: absolute;
	top: 475px;
	left:20px;
	width: 322px;
	display: flex;
}

#media > div {
	background-image: url("../images/svg/buttons.svg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 9px;
	flex: 33%;
	cursor: pointer;
}

#main{
	width: 100%;
	height:100%;
}

#main-img {
	height:100%;
	width:100%;
}

h3 {
	margin-block-end: 0.5em;
}

#launch-text {
	font-family: "French-Press";
	font-size: 52px;
	font-weight: bold;
}

#launch-btn {
	background-color: transparent;
	position: absolute;
	bottom: 20px;
	right: 25px;
	background-image: url("../images/svg/play_button.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	width:312px;
	height:122px;
	padding:10px;
	text-align: center;
	border-width: 0px;
}

.hidden{
	display:none;
}

#fullprogressbar{
	position:relative;
	margin: 0 auto;
	width:80%;
	height:25px;
	background-color:gray;
}

#progressbar{
	background-color: green;
	height:100%;
	width:0;
}

#loading-message{
	width:100%;
	position:relative;
	margin: 0 auto;
	height:28px;
	font-family: "French-Press";
	font-size: 24px;
	color:white;
}

#account {
	width:312px;
	height: 105px;
	background-image: url('../images/svg/nickname_scroll.svg');
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
	right: 25px;
	top: 50px;
	padding: 0px 30px;
}

#nick {
	font-family: "French-Press";
	font-size: 28px;
	position: relative;
	top:45%;
	transform: translateY(-45%);
}

#fullscreen {
	position:absolute;
	top: 28px;
	left: 0;
	width: 100%;
	height: calc(100% - 28px);
	background-color: rgba(0, 0, 0, 0.6);
	display: none;
	z-index: 10;
}

#close {
	position: absolute;
	top: 28px;
	left: 5px;
	color: white;
	cursor: pointer;
}

#settings {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 480px;
	min-height: 550px;
	background-image: url("../images/svg/chapters_scroll.svg");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 10px 65px;
}

#settings > h2 {
	text-align: center;
	margin-block-end: 2em;
}

#disconnect-btn {
	text-decoration: underline;
	cursor: pointer;
	color: black;
}