#content.main{
	height:100%;
	padding-top:28px;
}

#sidebar{
	position:absolute;
	top: 50px;
	left: 20px;
	background-image: url("../images/chapters_scroll.png");
	background-repeat: no-repeat;
	background-size: 100%;
	width: 322px;
	height: 398px;
	padding: 10px 50px;
	font-family: "French-Press", sans-serif;
	font-size: 26px;
}

#media > div {
	background-image: url("../images/buttons.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	padding: 9px;
	flex: 33%;
	cursor: pointer;
}

#launch-btn {
	background-image: url("../images/play_button.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center top;
}

#fullprogressbar{
	position:relative;
	margin: 0 auto;
	width:80%;
	height:25px;
	background-color:gray;
}

#settings {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 480px;
	min-height: 550px;
	background-image: url("../images/chapters_scroll.png");
	background-repeat: no-repeat;
	background-size: 100%;
	padding: 10px 65px;
	max-height: 80vh;
}

